<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testNg_Sequential.Fb_Sequential"/>
      <class name="testNg_Sequential.Amazon_Sequential"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
